<div class="container my-5" *ngIf="product">
    <div class="row">
        <div class="col-md-6">
            <!-- <img [src]="product.image || 'assets/default-product.png'" class="img-fluid rounded"> -->
            <img [src]="temp_img_url || 'assets/default-product.png'" class="img-fluid rounded">
        </div>

        <div class="col-md-6">
            <h1 class="display-5 fw-bold">{{ product.productName }}</h1>

            <p class="text-muted mb-1">หมวดหมู่: {{ product.category?.categoryName }}</p>

            <div class="d-flex gap-2 mb-3">
                <div class="px-3 py-1 rounded-pill border bg-light" style="font-size: 0.9rem;">
                    📍 สำหรับ: <strong>{{ product.targetPetType === 'ALL' ? 'สัตว์เลี้ยงทุกชนิด' : product.targetPetType
                        }}</strong>
                </div>
                <div *ngIf="product.suitableForDisease !== 'NONE'" class="px-3 py-1 rounded-pill border bg-light"
                    style="font-size: 0.9rem;">
                    🩺 การดูแล: <strong>{{ product.suitableForDisease }}</strong>
                </div>
            </div>

            <h2 class="text-success my-4">{{ product.price | currency: 'THB' }}</h2>

            <hr>

            <div class="mb-4">
                <h5>รายละเอียดสินค้า:</h5>
                <p class="text-lead">
                    {{ product.description || 'ไม่มีข้อมูลรายละเอียดสินค้า' }}
                </p>
                <p class="text-secondary">คงเหลือในคลัง: {{ product.stock }} ชิ้น</p>
            </div>

            <div class="d-grid gap-2">
                <button class="btn btn-primary" (click)="addToCart(product)">
                    เพิ่มลงตะกร้า
                </button>
            </div>
        </div>
    </div>
</div>